###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@
    
plugins =[{}]
    "minify" = "!plg:minify"
    "doc" = "!plg:doc"
@
    
tasks =[{}]
    
    build =[{}]
        
        src =[]
            !tpl:umd-header.tpl.js  # include a umd-header template
            
            ### modelview.js, main framework ###
            ./src/header.js
            ./src/utils.js
            ./src/event.js
            ./src/pb.js
            ./src/types.js
            ./src/model.js
            ./src/view.js
            ./src/footer.js
            
            ### jquery.modelview.js, jQuery/jQueryUI plugin/widget (optional) ###
            ./src/jquery.modelview.js
            
            !tpl:umd-footer.tpl.js  # include a umd-footer template
        @

        # extract header from this file
        header = ./src/header.js

        replace =[{}]
            "@@ROOT@@" = "'undefined' !== typeof self ? self : this"
            "@@MODULE@@" = "ModelView"
            "@@VERSION@@" = "3.0.0"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
        @

        # Extract documentation from the source (map)
        doc ={}
            
            "startdoc" = "/**[DOC_MARKDOWN]"
            "enddoc" = "[/DOC_MARKDOWN]**/"
            "trim" = RegExp::^\\s*\\*[ ]?
            "output" = "./manual.md"
        
        @

        out = ./build/modelview.js    
    @
    
    minify =[{}]
    
        src =[]
            ./build/modelview.js
        @
    
        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
    
            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @
    
            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        @
    
        out = ./build/modelview.min.js    
    @
    
    bundle =[{}]
    
        src =[]
            ./build/modelview.min.js
            ./build/modelview.validation.min.js
        @
    
        out = ./build/modelview.bundle.js    
    @
@
